@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
  /*  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
  /*  sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Add Gilroy bold font*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Add custom color*/

.bg-navbar {
  background-color: #0d1215;
}

.bg-footer {
  background-color: #0d1215;
/*  curve above corners*/
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
}


/* Loader CSS*/

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212121;
}

.loader {
  position: relative;
  width: 1.5em;
  aspect-ratio: 1/2;
  filter: url(#goo);
}

#goo {
  display: none;
}

.loader:before, .loader:after {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100%;
  aspect-ratio: 1/1;
  animation: 1.5s ease-out infinite loader;
  border-radius: 50%;
}

.loader:before {
  background: linear-gradient(rgb(255, 206, 58), rgb(66, 181, 73));
}

.loader:after {
  animation-delay: 0.75s;
  background: linear-gradient(to top, rgb(114, 223, 231), rgb(66, 181, 73));
}

@keyframes loader {
  0%, 50%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(70%);
  }
  75% {
    transform: translateY(-70%);
  }
}


/* Hide scrollbar for all elements */
::-webkit-scrollbar {
  display: none;
}

/* Optionally, hide scrollbar for specific elements */
.element-class::-webkit-scrollbar {
  display: none;
}


/* Styles for the inverted circle effect */
.invert-circle {
  position: relative;
  display: inline-block;
}

.invert-circle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  pointer-events: none;
  background: #000;
  mix-blend-mode: difference;
  transition: transform 0.1s ease-out;
  z-index: 1;
}
